@model Project

<section class="section project">
    <div class="project__head flex">
        <h1>
            @Model.Title
        </h1>

        <img class="project__img" src=".@Model.ImageUrl" />
    </div>

    <div class="project__description">
        @Html.Raw(Model.Description.Replace("\n", "<br>"))
    </div>

    <div class="flex blog__btn__back">
        <a class="btn btn__reset blog__btn" asp-controller="Projects" asp-action="Index">Назад</a>
    </div>
</section>
