@model IEnumerable<Project>
@{
    ViewData["Title"] = "SkillProfi - Проекты";
}

<section class="section projects">
    <h1 class="projects__title">Проекты</h1>

    <ul class="projects__list flex list__reset">

        @foreach(Project project in @Model)
        {
            <li class="projects__item">
                <a class="projects__link" asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">
                    <div class="projects__item__block">
                        <img class="projects__img" src="@project.ImageUrl" />

                        <div class="projects__block__title">
                            <p>@project.Title</p>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</section>
