@using SkillProfi.DAL.Auth;
@model UserLogin

<section class="section login">
    <div class="login__form">
        <form method="post" asp-action="Login">
            <div class="user__username">
                <label>Логин</label>
                <input type="text" asp-for="@Model.UserName" placeholder="Ваш логин" required />
            </div>

            <div class="user__password">
                <label>Логин</label>
                <input type="password" asp-for="@Model.Password" placeholder="Ваш пароль" required />
            </div>

            <div class="form__btns flex">
                <div class="form__button">
                    <button class="login__btn btn " type="submit">Вход</button>
                </div>

                <div>
                    <a class="btn__guest btn btn__reset" asp-controller="Hero" asp-action="Index">Продолжить как гость</a>
                </div>
            </div>
        </form>
        
    </div>
</section>

