@model Request
@{
    ViewData["Title"] = "SkillProfi";
}

<section class="section hero">
    <div class="container container__hero">
        <h1 class="hero__title">@Config.Instance.HeroTitle</h1>

        <button class="btn btn__reset hero__btn">@Config.Instance.HeroBtnToSend</button>
    </div>
</section>

@if (User.Identity.IsAuthenticated)
{
    <section class="section">
        <div class="container">
            <a href="#" class="inquiry__link">Главная</a>

            <h2 class="inquiry__title">@Config.Instance.HeroSecondTitle</h2>

            <form class="form flex" asp-action="Index" method="post">
                <div style="color: #ff0000" asp-validation-summary="ModelOnly"></div>
                <div class="form-top flex">
                    <div class="form__name flex">
                        <label asp-for="Name" class="label__name">
                            Имя
                        </label>
                        <input type="text" name="name" asp-for="Name" id="name" class="input__name"
                               placeholder="Козлов Иван Петрович" required>
                    </div>

                    <div class="form__email flex">
                        <label asp-for="Email" class="label__email">
                            Email
                        </label>
                        <input type="email" name="email" asp-for="Email" id="email" class="input__email"
                               placeholder="example@gmail.com" required>
                    </div>
                </div>

                <div class="form-bottom flex">
                    <label asp-for="Message">Текст сообщения</label>
                    <textarea class="message" name="message" asp-for="Message" id="message"
                              cols="30" rows="10" required></textarea>
                </div>

                <button class="btn btn__reset form__btn" type="submit">Отправить</button>
            </form>
        </div>
    </section>

    <div class="block__btn__edit">
        <a class="btn btn__reset btn__hero__edit" asp-action="Edit">Редактировать</a>
    </div>
}
else
{
    <section class="section inquiry">
        <div class="container">
            <a href="#" class="inquiry__link">Главная</a>

            <h2 class="inquiry__title">@Config.Instance.HeroSecondTitle</h2>

            <form class="form flex" asp-action="Index" method="post">
                <div class="form-top flex">
                    <div class="form__name flex">
                        <label asp-for="Name" class="label__name">
                            Имя
                        </label>
                        <input type="text" name="name" asp-for="Name" id="name" class="input__name"
                               placeholder="Козлов Иван Петрович" required>
                    </div>

                    <div class="form__email flex">
                        <label asp-for="Email" class="label__email">
                            Email
                        </label>
                        <input type="email" name="email" asp-for="Email" id="email" class="input__email"
                               placeholder="example@gmail.com" required>
                    </div>
                </div>

                <div class="form-bottom flex">
                    <label asp-for="Message">Текст сообщения</label>
                    <textarea class="message" name="message" asp-for="Message" id="message"
                              cols="30" rows="10" required></textarea>
                </div>

                <button class="btn btn__reset form__btn" type="submit">Отправить</button>
            </form>
        </div>
    </section>
}
