@model string
@{
    ViewData["Title"] = "SkillProfi";
}

<h2>@Model</h2>

<div class="flex blog__btn__back">
    <a class="btn btn__reset blog__btn" asp-controller="Hero" asp-action="Index">Назад</a>
</div>