@model SiteConfig

<section class="section contacts">
    <h1 class="contacts__title">Контакты</h1>

    <div class="contacts__info flex">
        <div class="container__info flex">
            <address class="address">
                168956, г. Москва ул. Симоновский Вал д.34
            </address>

            <div class="tel__emails flex">
                <a href="tel:+12345678910">
                    <span class="info__ico">
                        <img src="~/img/tel.png" alt="tel">
                    </span>&nbsp;+1 (234) 567-8910
                </a>

                <a href="tel:+12345678910">
                    <span class="info__ico">
                        <img src="~/img/fax.png" alt="fax">
                    </span>&nbsp;+1 (234) 567-8910
                </a>

                <a href="mailto:example@mail.ru">
                    <span class="info__ico">
                        <img src="~/img/email.png" alt="email">
                    </span>&nbsp;example@mail.ru
                </a>
            </div>

            <ul class="list__reset flex socials__list">
                <li class="socials__item">
                    <a href="@Model.UrlTelegram" class="socials__link" target="_blank">
                        <span class="link__ico">
                            <img src="~/img/telegram.png" alt="telegram">
                        </span>
                    </a>
                </li>

                <li class="socials__item">
                    <a href="@Model.UrlVk" class="socials__link" target="_blank">
                        <span class="link__ico">
                            <img src="~/img/vk.png" alt="vk">
                        </span>
                    </a>
                </li>

                <li class="socials__item">
                    <a href="@Model.UrlYoutube" class="socials__link" target="_blank">
                        <span class="link__ico">
                            <img src="~/img/youtube.png" alt="youtube">
                        </span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="container__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.3335516153816!2d37.660704016045294!3d55.71795530214646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b2ebc47c587%3A0x503a90d53553bd11!2z0YPQuy4g0KHQuNC80L7QvdC-0LLRgdC60LjQuSDQktCw0LssIDM0LCDQnNC-0YHQutCy0LAsIDExNTA4OA!5e0!3m2!1sru!2sru!4v1667555387242!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>